fastapi==0.129.0
uvicorn==0.41.0
sqlalchemy==2.0.46
psycopg2-binary==2.9.11
pydantic==2.12.5
python-dotenv==1.2.1
requests==2.32.5
beautifulsoup4==4.14.3
lxml==6.0.2
aiokafka==0.13.0
apscheduler==3.11.2
textblob==0.19.0
google-genai==1.66.0